ITTSPORTAPP/.idea/caches/gradle_models.ser
ITTSPORTAPP/.idea/codeStyles/Project.xml
ITTSPORTAPP/.idea/caches/build_file_checksums.ser
ITTSPORTAPP/gradle/wrapper/gradle-wrapper.properties
ITTSPORTAPP/.idea/caches/gradle_models.ser